@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

:root {
    --navbar-height: 100px;
    --section-padding: 20px;
    --dark-font-color:#30353e;
}

* {
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.navbar {
    position:fixed;
    z-index:9999;
    width:100%;
    height:var(--navbar-height);
}

.navbar-margin {
    position:relative;
    display:flex;
    flex-direction: row;
    width:60%;
    height:60px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    justify-content: space-between;
}

.navbar-margin>.left {
    position:relative;
    height:100%;
}

.navbar-margin>.left>a {
    position:relative;
    display:block;
    height:100%;
    font-weight: bold;
    font-size:26px;
    text-decoration: none;
}

.navbar-margin>.left>a>p {
    position:relative;
    top:50%;
    color: rgb(228, 228, 228);
    font-family: 'Open Sans' !important;
    transform:translateY(-50%);
    text-transform: lowercase;
}

.navbar-margin>.right {
    position:relative;
    display:flexbox;
}

.navbar-margin>.right>ul {
    position:relative;
    list-style:none;
    float:right;
    height:100%;
    padding:0;
    margin:0;
    text-decoration: none;
}

.navbar-margin>.right>ul>li {
    position:relative;
    display:inline-block;
    height:100%;
    padding:0;
    width:fit-content;
}

.navbar-margin>.right>ul>li>a {
    position:relative;
    display:inline-block;
    height:100%;
    padding:0 20px;
    margin:0 10px;
    opacity:50%;
    color: #dddddd;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight:bold;
    transition:opacity 0.3s;
}

.navbar-margin>.right>ul>li>a:hover {
    opacity:100%;
}

.navbar-margin>.right>ul>li>a::before {
    content:'';
    z-index:100;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:0;
    padding: 1.5px 0;
    transition: width 0.3s;
    width:0%;
    background:white;
    border-radius: 20px;
}

.navbar-margin>.right>ul>li>a:hover::before {
    width:100%;
}

.navbar-margin>.right>ul>li>a>p {
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.content {
    position:relative;
    display:flex;
    flex-direction: column;
    z-index:1;
}

.section {
    position:relative;
    height:fit-content;
    padding:var(--section-padding) 0;
}

#intro {
    background: linear-gradient(45deg, #18043c 0%,#070023 100%);
}

#intro-margin {
    position:relative;
    display:flex;
    flex-direction:row;
    width:70%;
    margin-top:calc(var(--navbar-height));
    left:50%;
    transform:translateX(-50%);
}

#intro-margin>* {
    display:flexbox;
    width:50%;
    height:650px;
    /*height:calc(calc(100vh - var(--navbar-height)) - calc(var(--section-padding) * 2));*/
}

#intro-margin>.left>.text {
    position: relative;
    height:fit-content;
    width:80%;
    left:50%;
    transform:translateX(-50%);
    margin-top:100px;
}

#intro-margin>.left>.text>* {
    margin:50px 0;
}

#intro-margin>.left>.text>h1 {
    font-size:48px;
    color: #e7e7e7;
}

#intro-margin>.left>.text>p {
    color: #b8b8b8;
    opacity: 90%;
    font-family: monospace;
    font-size: 18px;
}

#intro-margin>.left>.text>a {
    position:relative;
    display:flex;
    align-items: center;
    width:fit-content;
    background: linear-gradient(to right, #ff5b1a 0%,#ff0026 100%);
    box-shadow: 0px 10px 24px -1px rgba(255,0,38,0.42);
    text-decoration: none;
    font-size:16px;
    padding: 10px;
    border-radius:8px;
    color:white;
    overflow:hidden;
}

#intro-margin>.left>.text>a::before {
    content:'';
    left:0;
    top:0;
    display:inline-block;
    position:absolute;
    background:white;
    height:100%;
    opacity:10%;
    width:0%;
    transition: width 0.3s, opacity 0.6s;
}

#intro-margin>.left>.text>a:hover::before {
    width:100%;
    opacity:20%;
}

#intro-margin>.left>.text>a>* {
    display: flexbox;
}

#intro-margin>.left>.text>a>p {
    margin:0 25px;
}

#intro-margin>.left>.text>a>.arrow {
    background:rgba(80, 80, 80, 0.3);
    text-align:center;
    padding:10px 18px;
    border-radius:8px;
}

#intro-margin>.right {
    position:relative;
    display:inline-block;
}

#intro-margin>.right>img {
    position:relative;
    display:inline-block;
    top:calc(50% - 50px);
    transform:translateY(-50%);
    width:50%;
}