:root {
    --navbar-height: 100px;
    --section-padding: 20px;
}

* {
    margin:0;
    box-sizing: border-box;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.navbar {
    position:fixed;
    z-index:9999;
    width:100%;
    height:var(--navbar-height);
    background:red;
}

.navbar-margin {
    position:relative;
    width:80%;
    height:50px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.navbar-margin>ul {
    position:relative;
    list-style:none;
    float:right;
    height:100%;
    padding:0;
    margin:0;
    text-decoration: none;
}

.navbar-margin>ul>li {
    position:relative;
    display:inline-block;
    height:100%;
    padding:0;
    width:fit-content;
}

.navbar-margin>ul>li>a {
    position:relative;
    display:inline-block;
    height:100%;
    color:white;
    text-decoration: none;
    font-size: 16px;
    padding:0 20px;
}

.navbar-margin>ul>li::before {
    content:'';
    z-index:100;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:0;
    padding: 3px 0;
    transition: width 0.3s;
    width:0%;
    background:white;
    border-radius: 20px;
}

.navbar-margin>ul>li:hover::before {
    width:100%;
}

.navbar-margin>ul>li>a>p {
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.content {
    position:relative;
    display:flex;
    flex-direction: column;
    z-index:1;
    background:green;
    top:var(--navbar-height);
}

.section {
    position:relative;
    left:50%;
    transform:translateX(-50%);
    height:fit-content;
    padding:var(--section-padding) 0;
}

#intro {
    display:flex;
    width:80%;
    flex-direction:row;
}

#intro>* {
    display:flexbox;
    width:50%;
    height:calc(calc(100vh - var(--navbar-height)) - calc(var(--section-padding) * 2));
}

#intro>.right {
    background:greenyellow;
}

#intro>.right>.text {
    position: relative;
    margin-top:100px;
    width:90%;
    left:50%;
    transform:translateX(-50%);
    background:red;
}

#intro>.left {
    background:blueviolet;
}

#intro>.left>img {
    width:fit-content;
}