:root {
    --navbar-height: 100px;
    --section-padding: 20px;
    --dark-font-color:#30353e;
}

* {
    margin:0;
    box-sizing: border-box;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.navbar {
    position:fixed;
    z-index:9999;
    width:100%;
    height:var(--navbar-height);
}

.navbar-margin {
    position:relative;
    display:flex;
    flex-direction: row;
    width:75%;
    height:60px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    justify-content: space-between;
}

.navbar-margin>.left {
    position:relative;
    height:100%;
}

.navbar-margin>.left>a {
    position:relative;
    display:block;
    color:black;
    height:100%;
    font-weight: bold;
    font-size:28px;
    text-decoration: none;
}

.navbar-margin>.left>a>p {
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

.navbar-margin>.right {
    position:relative;
    display:flexbox;
}

.navbar-margin>.right>ul {
    position:relative;
    list-style:none;
    float:right;
    height:100%;
    padding:0;
    margin:0;
    text-decoration: none;
}

.navbar-margin>.right>ul>li {
    position:relative;
    display:inline-block;
    height:100%;
    padding:0;
    width:fit-content;
}

.navbar-margin>.right>ul>li>a {
    position:relative;
    display:inline-block;
    height:100%;
    color:white;
    text-decoration: none;
    font-size: 16px;
    padding:0 20px;
    margin:0 10px;
}

.navbar-margin>.right>ul>li>a::before {
    content:'';
    z-index:100;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:0;
    padding: 1.5px 0;
    transition: width 0.3s;
    width:0%;
    background:white;
    border-radius: 20px;
}

.navbar-margin>.right>ul>li>a:hover::before {
    width:100%;
}

.navbar-margin>.right>ul>li>a>p {
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.content {
    position:relative;
    display:flex;
    flex-direction: column;
    z-index:1;
}

.section {
    position:relative;
    height:fit-content;
    padding:var(--section-padding) 0;
}

#intro {
    background: linear-gradient(45deg, #854cff 0%,#a332ff 100%);
    
}

#intro-margin {
    position:relative;
    display:flex;
    flex-direction:row;
    width:80%;
    margin-top:calc(var(--navbar-height));
    left:50%;
    transform:translateX(-50%);
}

#intro-margin>* {
    display:flexbox;
    width:50%;
    height:550px;
    /*height:calc(calc(100vh - var(--navbar-height)) - calc(var(--section-padding) * 2));*/
}

#intro-margin>.left>.text {
    position: relative;
    height:300px;
    width:80%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#intro-margin>.left>.text>* {
    margin:20px 0;
}

#intro-margin>.left>.text>h1 {
    font-size:48px;
}

#intro-margin>.right {
    position:relative;
    display:inline-block;
}

#intro-margin>.right>img {
    position:relative;
    display:inline-block;
    width:60%;
    left:80px;
}